%h3 RFCs

%p
  Here you can find the most important RFCs.

%p
  %a{ :href => 'http://tools.ietf.org/html/rfc1034' } RFC 1034 - Concepts And Facilities

%p
  %a{ :href => 'http://tools.ietf.org/html/rfc1035' } RFC 1035 - Implementation And Spezification

%p
  %a{ :href => 'http://tools.ietf.org/html/rfc1912' } RFC 1912 - Common DNS Operational And Configuration Erros

%p
  %a{ :href => 'http://tools.ietf.org/html/rfc2181' } RFC 2181 - Clarification To The DNS Specification

%p
  %a{ :href => 'http://tools.ietf.org/html/rfc2308' } RFC 2308 - Negative Caching Of DNS Queries (DNS NCACHE)

%p
  %a{ :href => 'http://tools.ietf.org/html/rfc2460' } RFC 2460 - Internet Protocol, Version 6 (IPv6) Specification

%p
  %a{ :href => 'http://tools.ietf.org/html/rfc4291' } RFC 4291 - IP Version 6 Addressing Architecture
