%h3 RFCs

%p
  Here you can find the most important RFCs.

%p
  %a{ href: 'http://tools.ietf.org/html/rfc1034', target: '_blank' } RFC 1034 - Concepts And Facilities

%p
  %a{ href: 'http://tools.ietf.org/html/rfc1035', target: '_blank' } RFC 1035 - Implementation And Specification

%p
  %a{ href: 'http://tools.ietf.org/html/rfc1912', target: '_blank' } RFC 1912 - Common DNS Operational And Configuration Erros

%p
  %a{ href: 'http://tools.ietf.org/html/rfc2181', target: '_blank' } RFC 2181 - Clarification To The DNS Specification

%p
  %a{ href: 'http://tools.ietf.org/html/rfc2308', target: '_blank' } RFC 2308 - Negative Caching Of DNS Queries (DNS NCACHE)

%p
  %a{ href: 'http://tools.ietf.org/html/rfc2460', target: '_blank' } RFC 2460 - Internet Protocol, Version 6 (IPv6) Specification

%p
  %a{ href: 'http://tools.ietf.org/html/rfc4291', target: '_blank' } RFC 4291 - IP Version 6 Addressing Architecture
