= simple_form_for [@domain, DnsZone.new] do |f|
  .row
    .large-2.columns
      = f.label :origin, "$ORIGIN:", class: 'right inline'
    .large-10.columns
      = f.text_field :origin, required: 'true'
  .row
    .large-12.columns.centered_content
      = f.submit "create Dns Zone", class: 'button'
