<h1>Editing domain</h1>

<%= render 'form' %>

<ul class="button-group">
  <li><%= link_to 'Show', @domain, :class => "red_button"  %></li>
  <li><%= link_to 'Back', domains_path, :class => "red_button"  %></li>
</ul>
