<h1>Editing resource_record</h1>

<%= render 'form' %>

<%= link_to 'Back', domain_dns_zone_resource_record_path(@resource_record.dns_zone.domain, @resource_record.dns_zone, @resource_record), :class => "red_button" %>
