/*@import "foundation/variables", "foundation/components/global", "foundation/components/buttons";*/
@import 'foundation';
@import url(http://fonts.googleapis.com/css?family=Raleway);

@mixin header_font($color: black) {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 13px !important;
	font-weight: normal;
	font-style: normal;
	color: $color !important;
	line-height: 1.4;
	top-margin: .2em;
	bottom-margin: .2em;
	text-rendering: optimizeLegibility;
	vertical-align: middle !important;
	padding: emCalc(17px);
}

@mixin red_button {
	@include button-base;
	$button-font-color: white !important;
	$button-font-weight: normal;
	@include header_font(white);
	@include button($padding, $bg, $radius, $full-width, $disabled, $is-input);
	padding: emCalc(7px) !important;
}

$page-width:    800px;
$sidebar-width: 200px;
$primary-color: #f24141;

/* This controls padding around the buttons. Use a variable or em value */
$padding: $button-med;

/* This controls button color. Set to one of our variables or a custom hex value */
$bg: $primary-color;

/* This controls button radius. Set to a variable, true/false, or custom px value */
$radius: true;

/* This whether button is full-width. Set to true or false */
$full-width: false;

/* This controls whether disabled styles are used. Set to true or false */
$disabled: false;

/* This controls padding for inputs, they are a little different */
$is-input: false;

/* Using the available options */
.red_button {
	@include red_button;
	@include header_font(white);
}

.login_button {
	@include red_button;
	@include header_font(white);
	@include radius;
	@include single-transition;
	@include inset-shadow;
	/*@include dropdown-button;*/
	/*width: emCalc(150px);*/
}

.main_body {
	background: url("background.png") repeat;
}

#header {
	height: 60px;
	background: white;
	display: table-cell; 
	vertical-align: middle; 
	text-align: center;
	padding: emCalc(15px);
	line-height: emCalc(15px);
}

a {
  color: #ce4dd6;
  &:hover { 
  	color: #f24141 !important; 
  	background: white !important;
  }
  &:visited { color: #c458cb; }
}

.header_black {
	@include header_font;
	font-weight: bold !important;
}

.header_red {
	@include header_font(red);
}

.logo {
	height: emCalc(55px);
}