@import "variables";
@import "mixins";

* {
  margin: 0;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -62px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
  height: 62px; /* .push must be the same height as .footer */
}

body {
  @include basic_font;
  background-color: #fff;
  color: #333;
}

p, ol, ul, td {
  @include basic_font;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: black;
  &:visited { 
    color: black;
  }
  &:hover { 
    color: #f24141 !important;
    background: none !important;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

button {
  background: $bg !important;
}

p.notice {
  color: green !important;
}

p.alert {
  color: red !important;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
