
* {
  margin: 0;
}

html, body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  color: black;
  background-color: white;
  h1, h2, h3{
    color: black;
    font-family: 'Josefin Sans', sans-serif;
  }
  label{
    color: black;
    margin-bottom: 5px;
  }
  fieldset legend{
    background: transparent;
  }
  .wrapper{
    input{
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      height: 25px;
    }
  }
  table{
    width: 100%;
  }
  i{
    margin-left: 3px;
    margin-right: 3px;
    span{
      margin-left: 3px;
      margin-right: 3px;
    }
  }
}

.wrapper {
  min-height: 100%;
  height: auto;
  height: 100%;
  /* the bottom margin is the negative value of the footer's height */
  margin: 0 auto -62px;
}

.footer, .push {
  /* .push must be the same height as .footer */
  height: 62px;
  text-align: center;
}

div {
  &.field, &.actions {
    margin-bottom: 1px;
  }
}

p.notice {
  color: green;
}

p.alert {
  color: red;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  border: 1px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  .title {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
    text-align: center;
  }
  .messages{
    padding: 10px;
    ul li {
      font-size: 10px;
      margin-left: 15px;
      list-style: square;
    }
  }
}

.centered_content{
  text-align: center;
}
