%p.navbar-text.pull-right
  - if alert.present?
    .alert-box.radius{"data-alert" => ""}
      = alert
      %a.close{:href => "#"} &times;
  - if notice.present?
    .alert-box.radius{"data-alert" => ""}
      = notice
      %a.close{:href => "#"} &times;
