%nav.top-bar
  %ul.title-area
    %li.name
      %h1
        = link_to 'Dns Journal', home_index_path
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    %ul.left
      %li.divider
    %ul.right
      %li.divider
        %li
          %a{:href => "#"} About
      %li.divider
      %li.has-dropdown
        %a{:href => "#"} Resources
        %ul.dropdown
          %li
            %label Links
          %li
            = link_to 'RFCs', page_path('rfcs')
          %li.divider
          %li
            %label Other
          %li
            %a{:href => "#"} Other
          %li.divider
          %li
            %a{:href => "#"} See all →
